h1{
   margin-top: 75px;
   text-align : center;
   color:white;
   -webkit-text-stroke: 1.5px black;
text
}
body{
   background-image: url("fon.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}
