html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image:url("fon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-text-stroke: 0.5px white;
}
h1{
   margin-top: 75px;
   text-align : center;
}
table, td, tr {
   border:3px solid black;
}
td{
   text-align : center; 
   font-size : 36px;
}
a{
   text-decoration: none;
   color: black;   
}
